<a href="https://colab.research.google.com/github/ashutoshrabia/Fraudbuster/blob/main/FraudBuster_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For this assignment we will use the titanic dataset\
https://drive.google.com/file/d/1JSOk3x3kv8dIWuPM3OmbPK6Lt1l_NlfX/view?usp=sharing

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

INSTRUCTIONS:

Go to File -> Save a Copy in Drive and edit this notebook in your copy

Write your code in following code cells

Marks will not be given if the code is plagiarised

You can refer to prev class notebooks

1. Read the dataset and print last 10 row

In [ ]:
#code
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/fraudbusters/train.csv')
df.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

2. Drop the unnecessary columns and print first 10 rows of the modified dataset\
   *Hint*: only *Survived*, *Pclass*, *age*, *sex*, fare are the important features

In [ ]:
#  code
inputs= df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked', 'Survived'], axis=1)
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

3. Fill the NaN data points (if any)

In [ ]:
# code
inputs.isnull().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [ ]:
import math
median= inputs.Age.median()
inputs.Age= inputs.Age.fillna(median)

In [ ]:
inputs.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

4. As we need to predict the if the passenger survived or not, make two datafrmes:\
input dataframe : print top 5 values

In [ ]:
#code
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

5. Target class (Survived) : print top 5 values

In [ ]:
# code
target= df['Survived']
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

6. Encode the features wherever needed

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
# code
encoder= LabelEncoder()
inputs.Sex= encoder.fit_transform(inputs.Sex)

# inputs.Sex= inputs.Sex.map({'male':1, 'female':0})

In [ ]:
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500

7. Split the data for training and testing

In [ ]:
# code
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test= train_test_split(inputs, target, test_size= 0.2)

8. In the above, explain what do you mean by test_size ratio

In [ ]:
# code

9. Use the decision tree model

In [ ]:
# code
from sklearn import tree

In [ ]:
model= tree.DecisionTreeClassifier()

10. Fit the model for training

In [ ]:
# code
model.fit(x_train, y_train)

DecisionTreeClassifier()

11. Use model.score(x_test) to predict the accuracy of the model

In [ ]:
# code
model.score(x_test, y_test)

0.7932960893854749

In [ ]:
from sklearn.svm import SVC

In [ ]:
model= SVC(C=10, gamma=100, kernel='linear')

In [ ]:
model.fit(x_train, y_train)

SVC(C=10, gamma=100, kernel='linear')

In [ ]:
model.score(x_test, y_test)

0.776536312849162